
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

.newsCard{

    display: flex;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) ;
    padding: 10px;
    margin-top: 25px;
    border-radius: 5px;
    background-color:salmon;
}
.newstext{

    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}