.clock{

   background-color: blanchedalmond;

   
   

}

.clock #one{

    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}

.clock #two{

    background-color: blueviolet;
    text-align: center;
    

    height: 300px;
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px;
    border: chocolate solid;
    border-radius: 50%;
    width: 50%;
    height: 300px;
}

.clock #three{
    
    text-decoration: blueviolet;

}