.firform{

   
   background-color: orange;
   padding-bottom: 100%;


}


.list{

   background-color:wheat;
   margin: 20px;
   padding:20px;

}

.delete{

      text-align: right;
      padding-left: 1000px;



}
.one{


}

.two{

     padding: 100px;

}
.oneto{

       text-align: left;
       padding-right: 500px;


}




