.navin1{
   
    border:black solid 10px;
    background-color: skyblue;
    
}

.navin2{
   
    border:black solid 5px;
    background-color: skyblue;
    
}

.navin3{
   
    border:black solid 1px;
    background-color: skyblue;
    
}

#navin4{
   
   
    background-color: skyblue;
    
}